<VirtualHost ${PORTS}>
    ServerName ${SERVER_NAME}
    DocumentRoot ${ROOT_DOC}
    ServerAdmin ${ADMIN_EMAIL}
    Alias ${URL} ${TARGET_DIR}

    # WSGIScriptAlias / var/www/mydomain.com/index.wsgi
    # Alias /static/ /var/www/mydomain.com/static/
    # <Location "/static/">
    #     Options -Indexes
    # </Location >
</VirtualHost>

