<VirtualHost ${PORTS}>
    ServerName ${SERVER_NAME}
    DocumentRoot ${ROOT_DOC}
    ServerAdmin ${ADMIN_EMAIL}
    AddHandler cgi-script .php
    Alias ${URL} ${TARGET_DIR}
    <Directory ${TARGET_DIR}>
        Options +ExecCGI +Includes +FollowSymlinks
        AllowOverride All
    </Directory>
</VirtualHost>

