<VirtualHost ${PORTS}>
    ServerName ${SERVER_NAME}
    ServerAlias redmine
    DocumentRoot ${ROOT_DOC}
    ServerAdmin ${ADMIN_EMAIL}
    RailsBaseURI /
    RailsEnv production
    PassengerMaxPoolSize 4
    <Directory ${TARGET_DIR}>
        Options FollowSymLinks
        AllowOverride None
        Order allow,deny
        Allow from all
    </Directory>
</VirtualHost>

